body {
    background: #382d37;
    color: #ffc3c3;
}
table, th, td {
    border: 1px solid #c3ffdc;
    font-size: 32px;
}
input {
    width: 100%;
    height: 90px;
    font-size: 18px;
}
button {
    height: 30px;
    width: 100%;
    color: #ff0fdd;
    background-color: #89fffc;
}
.displayDay {
    font-size: 60px;
    text-align: center;
    float: left;
}
.displayDate {
    font-size: 75px;
    float: left;
}
.displayMonth,.displayYear {
    font-size: 24px;
}
.clock {
    font-size: 60px;
}
#logo {
    padding: 0 0 0 300px;
}